---
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
  imageUrl?: string | null;
}

const { title, description, imageUrl } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="og:type" content="website" />
    <meta name="og:locale" content="en" />
    <meta name="og:site_name" content="AstroMaster" />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />

    {
      imageUrl && (
        <>
          <meta name="og:image" content={imageUrl} />
          <meta name="og:image:url" content={imageUrl} />
          <meta name="twitter:image" content={imageUrl} />
        </>
      )
    }

    <meta name="twitter:title" content={title} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content={description} />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="AstroMaster" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="manifest" href="/site.webmanifest" color="#ffffff" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="preconnect"
      href="https://bevgyjm5apuichhj.public.blob.vercel-storage.com"
    />

    <ViewTransitions />
  </head>
  <body class="bg-background font-sans text-foreground antialiased">
    <header
      class="sticky top-0 z-10 flex flex-grow items-center justify-between gap-4 border-b-2 border-yellow-300 bg-background p-2 pb-[4px] pt-2 sm:flex-row sm:p-4 sm:pb-[4px] sm:pt-0"
    >
      <div class="flex flex-grow flex-col">
        <div
          class="flex w-full flex-col items-start justify-center gap-2 sm:w-auto sm:flex-row sm:items-center"
        >
          <a
            href="/"
            data-astro-prefetch
            class="text-4xl font-bold text-slate-900"
          >
            AstroMaster
          </a>
          <div
            class="items flex w-full flex-row items-center justify-between gap-4"
          >
            <div class="mx-0 flex-grow sm:mx-auto sm:flex-grow-0">
              <input type="search" placeholder="search" />
            </div>
            <div class="flex flex-row justify-between space-x-4">
              <div class="relative">
                <a
                  href="/order"
                  data-astro-prefetch
                  class="text-lg uppercase text-slate-900 hover:underline"
                >
                  Order
                </a>
              </div>
              <a
                href="/order-history"
                class="hidden text-lg uppercase text-slate-900 hover:underline md:block"
              >
                Order history
              </a>
              <a
                href="/order-history"
                data-astro-prefetch
                aria-label="Order History"
                class="block text-lg text-slate-900 hover:underline md:hidden"
              >
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <slot />

    <footer
      class="sticky bottom-0 flex flex-col items-center justify-between space-y-2 border-t border-gray-400 bg-background px-4 text-sm sm:h-6 sm:flex-row sm:space-y-0"
    >
      <div
        class="flex flex-wrap justify-center space-x-2 pt-2 sm:justify-start"
      >
        <span class="hover:bg-yellow-100 hover:underline">Home</span>
        <span>|</span>
        <span class="hover:bg-yellow-100 hover:underline"> Location </span>
        <span>|</span>
        <span class="hover:bg-yellow-100 hover:underline">Returns</span>
        <span>|</span>
        <span class="hover:bg-yellow-100 hover:underline">Careers</span>
        <span>|</span>
        <span class="hover:bg-yellow-100 hover:underline"> Mobile App </span>
        <span>|</span>
        <span class="hover:bg-yellow-100 hover:underline">
          Solidworks Add-In
        </span>
        <span>|</span>
        <span class="hover:bg-yellow-100 hover:underline">Help</span>
        <span>|</span>
        <span class="hover:bg-yellow-100 hover:underline"> Settings </span>
      </div>
      <div class="text-center sm:text-right">
        By using this website, you agree to check out the{" "}
        <a
          href="https://github.com/parassolanki/astro-master"
          class="font-bold hover:underline"
          target="_blank"
          rel="noopener noreferrer"
        >
          Source Code
        </a>
      </div>
    </footer>
  </body>
</html>
